<main role="main" class="container">
  <div class="jumbotron">
    <h3>Parse a URL</h3>

    <%= render 'form', urlexplorer: @urlexplorer %>

    <%= link_to 'Back', urlexplorers_path %>

  </div>
</main>
